# Exemple de secrets (ne pas committer le vrai fichier)

# github_token: "..."
# postgres_password: "..."
# grafana_admin_password: "..."
# user_mail: "user@example.com"

# Admin Basic Auth (Traefik)
# admin_auth_user: supadmin
# admin_auth_password_bcrypt: "$2y$10$..."
# admin_auth_password: "change_me"

# n8n native auth + secrets
# n8n_encryption_key: "long_random_string_at_least_32_chars"
# n8n_basic_auth_user: "n8n-admin"
# n8n_basic_auth_password: "change_me_if_admin_auth_password_is_not_defined"

# Node-RED native auth + credentials encryption
# nodered_auth_user: "nodered-admin"
# nodered_auth_password_bcrypt: "$2y$10$..."
# nodered_credential_secret: "another_long_random_string_at_least_32_chars"
