# Exemple de secrets (ne pas committer le vrai fichier)

# github_token: "..."
# postgres_password: "..."
# grafana_admin_password: "..."
# user_mail: "user@example.com"

# Admin Basic Auth (Traefik)
# admin_auth_user: supadmin
# admin_auth_password_bcrypt: "$2y$10$..."
# admin_auth_password: "change_me"
