---
- name: Ajout Repo Prometheus Community
  kubernetes.core.helm_repository:
    name: prometheus-community
    repo_url: https://prometheus-community.github.io/helm-charts

- name: Déploiement Stack Monitoring (Prometheus + Grafana)
  kubernetes.core.helm:
    name: monitoring
    chart_ref: prometheus-community/kube-prometheus-stack
    release_namespace: monitoring
    values:
      grafana:
        enabled: true
        adminPassword: "admin" # A changer !
        ingress:
          enabled: true
          ingressClassName: "traefik"
          hosts:
            - "grafana.{{ main_domain }}"
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: websecure
            traefik.ingress.kubernetes.io/router.tls: "true"
            traefik.ingress.kubernetes.io/router.tls.certresolver: "le"
        persistence:
          enabled: true
          storageClass: "{{ storage_class }}"
          size: 5Gi
      
      prometheus:
        prometheusSpec:
          storageSpec:
            volumeClaimTemplate:
              spec:
                storageClassName: "{{ storage_class }}"
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: 10Gi
          # Configuration de la rétention
          retention: 10d