---
- name: Ajout du dépôt Helm Bitnami
  kubernetes.core.helm_repository:
    name: bitnami
    repo_url: https://charts.bitnami.com/bitnami

- name: Déploiement de PostgreSQL (Idempotent)
  kubernetes.core.helm:
    name: postgres
    chart_ref: bitnami/postgresql
    release_namespace: sgcb
    create_namespace: yes
    chart_version: 18.2.0
    wait: yes # Assure l'idempotence en attendant que les ressources soient prêtes
    state: present
    values:
      global:
        storageClass: "local-path" # Défaut sur k3s, à adapter selon ton S3/partage
      
      auth:
        database: "ma_base_saas"
        username: "admin_user"
        password: "{{ postgres_password }}" # Utilise Ansible Vault pour ceci
      
      # Configuration pour ton Prometheus
      metrics:
        enabled: true
        service:
          type: ClusterIP
        # Si tu utilises Prometheus Operator (courant avec k3s/kube-prometheus-stack)
        serviceMonitor:
          enabled: true
          namespace: monitoring # Namespace où se trouve ton Prometheus
          interval: 30s

      primary:
        persistence:
          enabled: true
          size: 8Gi
        # Configuration réseau pour l'accessibilité
        service:
          type: ClusterIP
          ports:
            postgresql: 5432

# postgres-postgresql.sgcb.svc.cluster.local <= pour être attaqué depuis l'extérieur