---
- name: Ajout Repo Helm Bitnami
  kubernetes.core.helm_repository:
    name: bitnami
    repo_url: https://charts.bitnami.com/bitnami

- name: Déploiement RabbitMQ Cluster
  kubernetes.core.helm:
    name: rabbitmq
    chart_ref: bitnami/rabbitmq
    release_namespace: apps
    chart_version: "16.0.14"

    values:

      global:
        security:
          allowInsecureImages: true

      metrics:
        enabled: true
        plugins: "rabbitmq_prometheus"
        serviceMonitor:
          enabled: true
          namespace: "apps"
          interval: 30s
          labels:
            release: "monitoring"

      image:
        registry: docker.io
        repository: bitnamilegacy/rabbitmq
        tag: 4.1.3-debian-12-r1

      replicaCount: 3 # 1 par noeud pour la haute dispo

      auth:
        username: admin
        password: "cdosiuhqsdoifuhqsdoiufh" # A mettre dans un vault idéalement
        erlangCookie: "cdosi_uhq_sd_o_i_f_u_h__q__s_doi_gqmsdofguqsdhfpmuihufh"

      ingress:
        enabled: true
        hostname: "rabbitmq.{{ main_domain }}"
        ingressClassName: "traefik"
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.tls: "true"
          traefik.ingress.kubernetes.io/router.tls.certresolver: "le"

      persistence:
        enabled: true
        storageClass: "{{ storage_class }}"
        size: 8Gi