---
# -------------------------------------------------------
# ETAPE 1 : MANAGER
# -------------------------------------------------------

- name: Initialisation du Swarm (Manager)
  community.docker.docker_swarm:
    state: present
    advertise_addr: "{{ ansible_default_ipv4.address }}"
  register: swarm_init_result
  when: "'manager' in group_names"  # <--- CIBLAGE PAR GROUPE

- name: Récupération des Infos du Cluster (Token)
  community.docker.docker_swarm_info:
  register: swarm_facts
  delegate_to: "{{ groups['manager'][0] }}"
  run_once: true

# -------------------------------------------------------
# ETAPE 2 : PARE-FEU
# -------------------------------------------------------
# (Pas de changement ici, ça s'applique à tout le monde)
- name: Déploiement règles NFTables Swarm
  template:
    src: nftables_swarm.conf.j2
    dest: /etc/nftables.d/10-swarm.conf
    mode: '0644'
  notify: Reload NFTables

- name: Application immédiate du Pare-feu
  meta: flush_handlers

# -------------------------------------------------------
# ETAPE 3 : WORKERS - JONCTION ET NETTOYAGE
# -------------------------------------------------------

- name: Vérification état Swarm local du Worker
  community.docker.docker_host_info:
  register: worker_info
  when: "'workers' in group_names" # <--- CIBLAGE PAR GROUPE

- name: Quitter le mauvais Swarm
  command: docker swarm leave --force
  when:
    - "'workers' in group_names"
    - worker_info.host_info.Swarm.LocalNodeState == 'active'
    - worker_info.host_info.Swarm.Cluster.ID is defined
    - worker_info.host_info.Swarm.Cluster.ID != swarm_facts.swarm_facts.ID
  notify: Restart Docker

- name: Force restart Docker si nettoyage
  meta: flush_handlers

- name: Rejoindre le Swarm
  community.docker.docker_swarm:
    state: join
    join_token: "{{ swarm_facts.swarm_facts.JoinTokens.Worker }}"
    remote_addrs: [ "{{ hostvars[groups['manager'][0]]['ansible_default_ipv4']['address'] }}:2377" ]
  when:
    - "'workers' in group_names"
    - (worker_info.host_info.Swarm.LocalNodeState != 'active') or
      (worker_info.host_info.Swarm.Cluster.ID is defined and worker_info.host_info.Swarm.Cluster.ID != swarm_facts.swarm_facts.ID)

# -------------------------------------------------------
# ETAPE 6 : RÉSEAU GLOBAL (INFRASTRUCTURE)
# -------------------------------------------------------
- name: Création du réseau overlay 'traefik-public'
  community.docker.docker_network:
    name: traefik-public
    driver: overlay
    attachable: true # Important pour le debugging ou les conteneurs hors-stack
    driver_options:
      # encrypted: "yes"
      # FIX MTU CRITIQUE (OVH/OpenStack VXLAN)
      com.docker.network.driver.mtu: "1300"
  when: "'manager' in group_names"
  run_once: true

- name: Vérification MTU docker_gwbridge (Ingress)
  shell: docker network inspect docker_gwbridge --format '{{ '{{' }} index .Options "com.docker.network.driver.mtu" {{ '}}' }}'
  register: gwbridge_mtu
  ignore_errors: true
  changed_when: false
  when: "'manager' in group_names"

# # Cette tâche est un peu "brutale" mais nécessaire si le gwbridge est en 1500
# # Elle ne se lancera que si le MTU est mauvais.
# - name: Force Recréation docker_gwbridge et Ingress en MTU 1300
#   shell: |
#     # 1. On supprime d'abord le réseau Ingress (qui verrouille le gwbridge)
#     # Le "|| true" permet de continuer si le réseau n'existe pas ou bug
#     docker network rm ingress || true
    
#     # 2. Maintenant on peut supprimer le gwbridge
#     docker network rm docker_gwbridge || true
    
#     # 3. On recrée le gwbridge avec le bon MTU (1300)
#     docker network create \
#       --subnet 172.18.0.0/16 \
#       --gateway 172.18.0.1 \
#       --opt com.docker.network.bridge.name=docker_gwbridge \
#       --opt com.docker.network.bridge.enable_icc=false \
#       --opt com.docker.network.driver.mtu=1300 \
#       docker_gwbridge
      
#     # 4. CRITIQUE : On recrée immédiatement le réseau Ingress
#     # Sinon tes services ne pourront plus publier de ports
#     docker network create \
#       --driver overlay \
#       --ingress \
#       --opt com.docker.network.driver.mtu=1300 \
#       ingress
#   when: 
#     - "'manager' in group_names"
#     - gwbridge_mtu.stdout != "1300"
#     # On enlève la condition rc==0 pour forcer si besoin, le script gère les erreurs via || true